<section class="section container-fluid">
  <h1 class="page-header">Welcome to HomeKClient {{testText}}</h1>  

  <div ng-repeat="x in records">
  	{{x.filePath}} - {{x.singer}}
  </div>

  <video
    id="my-player"
    class="video-js"
    controls
    preload="auto"
    poster="//vjs.zencdn.net/v/oceans.png"
    data-setup='{}'>
  <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video>
</section>
